.active{
  text-decoration: line-through;
}
.lightOn{
  background-color: rgb(255, 242, 208);
  height: 200px;
  width: auto;
  text-align: center;
  
}
.lightOf{
  background-color: rgb(24, 24, 24);
  height: 200px;
  width: auto;
  color: aliceblue;
  text-align: center;
}
*{
  margin: 0;
}
.DarkModeOn{
  background-color: rgb(252, 247, 235);
  height: 200px;
  width: auto;
  text-align: center;
  
}
.DarkModeOf{
  background-color: rgb(68, 68, 68);
  height: 200px;
  width: auto;
  color: aliceblue;
  text-align: center;
}